@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Anton&family=Quicksand&family=Roboto:wght@100;700&display=swap');

/* inicio global */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: #19A1D8;
    font-family: 'Roboto', cursive;
}

p {
    color: #031218;
    line-height: 2rem;
    font-size: 1.7rem;
    text-justify: auto;
}


/* fin global */


/* Gradiente */

.hero-banner {
    background: linear-gradient(90deg, rgb(48, 144, 189) 0%, rgba(55, 132, 160, 0.953) 24%, rgba(6, 160, 191, 0.329) 100%);
}


/* Transformacion */

.trans {
    transform: rotate(-5deg);
}


/* Animacion */


/*definimos el grid layout*/

.contenedor {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-template-areas: "nav nav" "header header" "contenido contenido" "footer footer";
}

#mainNav {
    grid-area: nav;
}

#header {
    grid-area: header;
}

#contenido {
    grid-area: contenido;
}

#footer {
    grid-area: footer;
}


/* Inicio Nav */

.botonera-icon {
    width: 5em;
    height: 5em;
    display: inline;
    size: 5em;
}

.botonera-color {
    background-color: #19A1D8;
}

.botonera-text-title {
    font-family: 'Anton', sans-serif;
    display: inline-block;
    justify-content: center;
    text-align: justify;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 3em;
    color: white;
    align-content: center;
}

.botonera-nav {
    margin: 10px;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    display: inline-block;
    vertical-align: middle;
    font-size: 2.0rem;
    color: white;
    align-content: center;
}


/* Fin Nav */


/* Inicio de contenido main */

.contenido {
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.separacion-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0px 20px;
}

.separacion-main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0px 20px;
}

.contenedor--main1 {
    width: 100%;
    height: auto;
    margin: 0px 20px;
    align-items: center;
    justify-content: center;
}

.contenedor--main2 {
    height: auto;
    margin: 20px 20px;
    align-items: center;
    justify-content: center;
}

.contenido__img--fluid {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    padding-top: 8px;
}

.contenedor__descripcion {
    width: 100%;
    height: auto;
    text-align: center;
}

.contenido__titulo--xxl {
    font-family: 'Advent Pro', sans-serif;
    font-size: 6.5em;
}

.contenido__titulo--xl {
    font-family: 'Advent Pro', sans-serif;
    font-size: 5em;
}

.contenedor-h1 {
    -webkit-animation: mymove infinite;
    -webkit-animation-duration: 3s;
}

@-webkit-keyframes mymove {
    from {
        top: -15px;
    }
    to {
        top: 0px;
    }
}

.contenido__text {
    font-family: 'Advent Pro', sans-serif;
    text-align: justify;
    align-items: center;
    font-size: 2.7em;
}

.contenido__textb {
    font-family: 'Advent Pro', sans-serif;
    justify-content: center;
    font-size: 2.7em;
}

.contenido__titulo--L {
    font-family: 'Anton', sans-serif;
    display: block;
    font-size: 2.5em;
    height: auto;
    text-align: center;
    box-sizing: content-box;
}

.contenido__img--final {
    height: auto;
    overflow: hidden;
}

.nosotros__img--fluid {
    width: 450px;
    overflow: hidden;
    height: 450px;
    box-sizing: border-box;
}

.nosotros__header {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-img {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    padding-top: 8px;
}

.boton {
    width: 200px;
    height: 50px;
}


/* fin contenido main */


/* inicio footer */

.pie {
    /*padding*/
    padding: 30px;
    /****display flex****/
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(177, 245, 255, .9);
    margin-top: 50px;
}

.pie a {
    text-decoration: none;
}

.pie__icon--sm {
    /*size*/
    width: 30px;
}

.pie__titulo--md {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    color: white;
}


/* fin footer */


/* @media (min-width: 768px) {
    .contenedor {
        grid-template-columns: 50vw 50vw;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "nav nav" "header header" "contenido contenido" "footer footer";
    }
    .botonera {
        flex-direction: column;
    }
    .contenido__titulo--L {
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #contenido .separacion-main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .contenido__img--fluid {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .contenedor {
        grid-template-columns: 50vw 50vw;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "nav nav" "header header" "contenido contenido" "footer footer";
    }
    .botonera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    #contenido .separacion-main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .contenido__img--fluid {
        width: 100%;
        height: auto;
    }
} */