@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Anton&family=Nunito&family=Quicksand&family=Roboto:wght@100;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cards {
    height: 50vh;
}

.cards .cards-container {
    height: 100%;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cards .cards-container .card-1 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-1 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-1 button,
.cards .cards-container .card-1 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-1 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-1 button:hover,
.cards .cards-container .card-1 .button-2:hover {
    background-color: #267de6;
}

.cards .cards-container .card-2 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-2 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-2 button,
.cards .cards-container .card-2 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-2 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-2 button:hover,
.cards .cards-container .card-2 .button-2:hover {
    background-color: #267de6;
}

.cards .cards-container .card-3 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-3 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-3 button,
.cards .cards-container .card-3 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-3 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-3 button:hover,
.cards .cards-container .card-3 .button-2:hover {
    background-color: #267de6;
}

.cards .cards-container .card-4 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-4 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-4 button,
.cards .cards-container .card-4 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-4 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-4 button:hover,
.cards .cards-container .card-4 .button-2:hover {
    background-color: #267de6;
}

.cards .cards-container .card-5 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-5 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-5 button,
.cards .cards-container .card-5 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-5 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-5 button:hover,
.cards .cards-container .card-5 .button-2:hover {
    background-color: #267de6;
}

.cards .cards-container .card-6 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-6 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-6 button,
.cards .cards-container .card-6 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-6 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-6 button:hover,
.cards .cards-container .card-6 .button-2:hover {
    background-color: #267de6;
}

nav {
    background-color: #19A1D8;
}

nav div a img {
    width: 5em;
    height: 5em;
    display: inline;
    size: 5em;
}

nav div a p {
    font-family: 'Nunito';
    display: inline-block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: justify;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 2.8em;
    color: white;
    -ms-flex-line-pack: center;
    align-content: center;
}

footer {
    background-color: #19A1D8;
}

footer h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    color: white;
}

footer div a img {
    width: 30px;
}

footer div a img {
    width: 30px;
}

footer div a img {
    width: 30px;
}


/*# sourceMappingURL=style.css.map */

html {
    font-size: 62.5%;
}

body {
    background-attachment: fixed;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    color: #19A1D8;
    font-family: 'Roboto', cursive;
}

p {
    color: #031218;
    line-height: 2rem;
    font-size: 1.7rem;
    text-justify: auto;
}


/* fin global */


/* Gradiente */

.hero-banner {
    background: linear-gradient(90deg, rgb(48, 144, 189) 0%, rgba(55, 132, 160, 0.953) 24%, rgba(6, 160, 191, 0.329) 100%);
}


/* Transformacion */

.trans {
    transform: rotate(-5deg);
}


/* Animacion */

.container {
    margin-top: 5rem;
}


/*definimos el grid layout*/

.contenedor {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    grid-template-areas: "nav nav" "header header" "contenido contenido" "footer footer";
}

#mainNav {
    grid-area: nav;
}

#header {
    grid-area: header;
}

#contenido {
    grid-area: contenido;
}

#footer {
    grid-area: footer;
}

.botonera-nav {
    margin: 10px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    vertical-align: middle;
    font-size: 2.0rem;
    color: white;
    align-content: center;
}


/* Fin Nav */


/* Inicio de contenido main */

.contenido {
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.separacion-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0px 20px;
}

.separacion-main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0px 20px;
}

.contenedor--main1 {
    width: 100%;
    height: auto;
    margin: 0px 20px;
    align-items: center;
    justify-content: center;
}

.contenedor--main2 {
    height: auto;
    margin: 20px 20px;
    align-items: center;
    justify-content: center;
}

.contenido__img--fluid {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    padding-top: 8px;
}

.contenedor__descripcion {
    width: 100%;
    height: auto;
    text-align: center;
}

.contenido__titulo--xxl {
    font-family: 'Nunito';
    font-size: 6.5em;
}

.xq_contenido__titulo--xxl {
    margin-top: 5rem;
    font-family: 'Nunito';
    font-size: 4em;
    text-align: center;
}

.Nos_contenido__titulo--xxl {
    margin-top: 5rem;
    font-family: 'Nunito';
    font-size: 5em;
    text-align: center;
}

.formulario {
    display: inline-block
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.contenido__titulo--xl {
    font-family: 'Nunito';
    font-size: 5em;
    vertical-align: middle;
}

.contenido__text {
    font-family: 'Advent Pro', sans-serif;
    text-align: justify;
    align-items: center;
    line-height: 1.5;
    font-size: 2.5em;
}

.contenido__text2 {
    font-family: 'Advent Pro', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    align-items: center;
    line-height: 1.5;
    font-size: 2.3em;
}

.contenido__textb {
    font-family: 'Nunito';
    text-align: center;
    margin-top: 2rem;
    line-height: 1.5;
    font-size: 2.3em;
}

.contenido__titulo--L {
    font-family: 'Nunito';
    display: block;
    font-size: 2.5em;
    height: auto;
    text-align: center;
    box-sizing: content-box;
}

.contenido__img--final {
    height: auto;
    overflow: hidden;
}

.nosotros__img--fluid {
    width: 450px;
    overflow: hidden;
    height: 450px;
    box-sizing: border-box;
}

.nosotros__header {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-img {
    height: auto;
    background-color: white;
    overflow: hidden;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.boton {
    width: 200px;
    height: 50px;
}


/* fin contenido main */


/* inicio footer */

.pie {
    /*padding*/
    padding: 30px;
    /****display flex****/
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(177, 245, 255, .9);
    margin-top: 50px;
}

.pie a {
    text-decoration: none;
}


/* fin footer */


/* @media (min-width: 768px) {
    .contenedor {
        grid-template-columns: 50vw 50vw;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "nav nav" "header header" "contenido contenido" "footer footer";
    }
    .botonera {
        flex-direction: column;
    }
    .contenido__titulo--L {
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #contenido .separacion-main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .contenido__img--fluid {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .contenedor {
        grid-template-columns: 50vw 50vw;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "nav nav" "header header" "contenido contenido" "footer footer";
    }
    .botonera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    #contenido .separacion-main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .contenido__img--fluid {
        width: 100%;
        height: auto;
    }
} */