footer {
    background-color: $color-background;
    h3 {
        font-family: 'Anton', sans-serif;
        font-size: 2rem;
        color: white;
    }
    div {
        a {
            img {
                width: $footer-tamano;
            }
        }
        a {
            img {
                width: $footer-tamano;
            }
        }
        a {
            img {
                width: $footer-tamano;
            }
        }
    }
}