@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Anton&family=Quicksand&family=Roboto:wght@100;700&display=swap");
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cards {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cards .cards-container {
    height: 100%;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cards .cards-container .card-1 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-1 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-1 button,
.cards .cards-container .card-1 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-1 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-1 button:hover,
.cards .cards-container .card-1 .button-2:hover {
    background-color: #267de6;
}

.cards .cards-container .card-2 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-2 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-2 button,
.cards .cards-container .card-2 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-2 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-2 button:hover,
.cards .cards-container .card-2 .button-2:hover {
    background-color: #267de6;
}

.cards .cards-container .card-3 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-3 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-3 button,
.cards .cards-container .card-3 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-3 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-3 button:hover,
.cards .cards-container .card-3 .button-2:hover {
    background-color: #267de6;
}

.cards .cards-container .card-4 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-4 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-4 button,
.cards .cards-container .card-4 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-4 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-4 button:hover,
.cards .cards-container .card-4 .button-2:hover {
    background-color: #267de6;
}

.cards .cards-container .card-5 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-5 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-5 button,
.cards .cards-container .card-5 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-5 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-5 button:hover,
.cards .cards-container .card-5 .button-2:hover {
    background-color: #267de6;
}

.cards .cards-container .card-6 {
    height: 85%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid white;
}

.cards .cards-container .card-6 p {
    font-family: 'Advent Pro', bold;
    font-size: 3rem;
    color: #19A1D8;
}

.cards .cards-container .card-6 button,
.cards .cards-container .card-6 .button-2 {
    font-family: 'Advent Pro', sans-serif;
    height: 10%;
    width: 25%;
    background-color: #19A1D8;
    border: 3px solid white;
    border-radius: 0.30rem;
}

.cards .cards-container .card-6 .button-2 {
    color: white;
    font-size: 2em;
}

.cards .cards-container .card-6 button:hover,
.cards .cards-container .card-6 .button-2:hover {
    background-color: #267de6;
}

nav {
    background-color: #19A1D8;
}

nav div a img {
    width: 5em;
    height: 5em;
    display: inline;
    size: 5em;
}

nav div a p {
    font-family: 'Anton', sans-serif;
    display: inline-block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: justify;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 3em;
    color: white;
    -ms-flex-line-pack: center;
    align-content: center;
}

footer {
    background-color: #19A1D8;
}

footer h3 {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    color: white;
}

footer div a img {
    width: 30px;
}

footer div a img {
    width: 30px;
}

footer div a img {
    width: 30px;
}


/*# sourceMappingURL=style.css.map */